/* ---------------------------- Background ----------------*/
.gradientbackground .button {
    -fx-background-color: white;
}

.gradientbackground .label {
    -fx-text-fill: white;
}

.background-primary {
    -fx-text-fill: white;
}

.background-primary .label {
    -fx-text-fill: white;
}

.background-primary > .button {
    -fx-background-color: white;
}


/* ---------------------------- Messages ----------------*/
.message-container .message-content {
    -fx-font-size: 16px;
}

.message-container .message-username, .message-container .message-meta {
    -fx-font-size: 12px;
}


/* ---------------------------- SplitPane ----------------*/
.split-pane *.split-pane-divider {
    -fx-padding: 0 2 0 2;
    -fx-background-color: transparent;
}

.split-pane, .accordion {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


/* ------------------------------ Accordion ------------------*/
.titled-pane > *.content {
    -fx-border-color: transparent;
    -fx-border-insets: 0 0 0 0;
    -fx-background-color: transparent;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.accordion, .titled-pane, .accordion .titled-pane .title {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}


/* -------------------------- buttons ------------*/
.button {
    -fx-font-size: 18px;
    /*-fx-font-family: "Palatino Linotype";*/
    -fx-border-radius: 10px;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-text-fill: white;
}

.button.small {
    -fx-font-size: 14px;
}


/* ------------------------------ Listview -------------------------- */
/* Listview Transparent */
.list-view-transparent {
    -fx-background-color: transparent;
}

.list-view-transparent .list-cell {
    -fx-background-color: transparent;
}

/* Scrollbar normal*/
.list-view .scroll-bar:horizontal , .list-view  .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.list-view .scroll-bar:horizontal{
    -fx-pref-height: 12;
}

.list-view  .scroll-bar:vertical{
    -fx-pref-width: 12;
}

.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color: transparent;
}

.list-view .scroll-bar:horizontal .track , .list-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.list-view .scroll-bar:horizontal .thumb, .list-view .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.list-view .scroll-bar .increment-arrow , .list-view .scroll-bar .decrement-arrow {
    -fx-background-color: white;
}

/* Scrollbar transparent */
.list-view-transparent .scroll-bar:horizontal .thumb, .list-view-transparent .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-opacity: 80%;
}

.list-view-transparent .scroll-bar .increment-arrow , .list-view-transparent .scroll-bar .decrement-arrow {
    -fx-background-color: white;
}

/* Client listviews */
.titled-pane #lvRooms .list-cell, .titled-pane #lvUsers .list-cell {
    -fx-text-fill: white;
    -fx-font-weight: normal;
}

.titled-pane #lvRooms .list-cell:selected, .titled-pane #lvUsers .list-cell:selected {
    -fx-font-weight: bold;
}


/* ------------------------------ MenuBar -------------------------- */
.menu-bar .menu .label {
    -fx-text-fill: white;
}

.menu-bar .menu .menu-item .label {
    -fx-text-fill: black;
}

/* Icons */
.icon-account > .label {-fx-graphic: url("icon-account.png");}
.icon-alert-user-status > .label {-fx-graphic: url("icon-alert-user-status.png");}
.icon-alert-user-status-disable > .label {-fx-graphic: url("icon-alert-user-status-disable.png");}
.icon-archive > .label {-fx-graphic: url("icon-archive.png");}
.icon-bad > .label {-fx-graphic: url("icon-bad.png");}
.icon-ban > .label {-fx-graphic: url("icon-ban.png");}
.icon-clear > .label {-fx-graphic: url("icon-clear.png");}
.icon-connection > .label {-fx-graphic: url("icon-connection.png");}
.icon-edit > .label {-fx-graphic: url("icon-edit.png");}
.icon-help > .label {-fx-graphic: url("icon-help.png");}
.icon-image > .label {-fx-graphic: url("icon-image.png");}
.icon-info > .label {-fx-graphic: url("icon-info.png");}
.icon-kick > .label {-fx-graphic: url("icon-kick.png");}
.icon-logout > .label {-fx-graphic: url("icon-logout.png");}
.icon-message > .label {-fx-graphic: url("icon-message.png");}
.icon-password > .label {-fx-graphic: url("icon-password.png");}
.icon-power > .label {-fx-graphic: url("icon-power.png");}
.icon-room > .label {-fx-graphic: url("icon-room.png");}
.icon-volume > .label {-fx-graphic: url("icon-volume.png");}
.icon-volume-mute > .label {-fx-graphic: url("icon-volume-mute.png");}
.icon-warn > .label {-fx-graphic: url("icon-warn.png");}