/* ----------------------------- Highlight/Focus ----------------------- */
.root {
    -fx-accent: #8BC34A;
    -fx-focus-color: #8BC34A;
    -fx-faint-focus-color: #8BC34A22;
}

/* ---------------------------- Messages ----------------*/



/* ---------------------------- SplitPane ----------------*/



/* ------------------------------ Accordion ------------------*/




/* -------------------------- background ------------*/

.gradientbackground {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3F51B5, #303F9F);
}

.gradientbackground .button {
    -fx-text-fill: #8BC34A;
}


.background-primary {
    -fx-background-color: #3F51B5;
}


.background-primary > .button {
    -fx-text-fill: #3F51B5;
}


/* -------------------------- buttons ------------*/

.button {
    -fx-background-color: #8BC34A;
}




/* ------------------------------ Listview -------------------------- */
.list-view .scroll-bar:horizontal .thumb, .list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #8BC34A;
}

.list-view .scroll-bar .increment-arrow , .list-view .scroll-bar .decrement-arrow {
    -fx-background-color: black;
}

.list-view-transparent .scroll-bar:horizontal .thumb, .list-view-transparent .scroll-bar:vertical .thumb, .list-view-transparent .scroll-bar .increment-arrow , .list-view-transparent .scroll-bar .decrement-arrow {
    -fx-background-color: white;
}



/* ------------------------------ MenuBar -------------------------- */

.menu-bar {
    -fx-border-color: #3F51B5;
    -fx-background-color: #3F51B5;
}