/* ----------------------------- Highlight/Focus ----------------------- */
.root {
    -fx-accent: #ffb300;
    -fx-focus-color: #ffb300;
    -fx-faint-focus-color: #ffb30022;
}

/* ---------------------------- Messages ----------------*/



/* ---------------------------- SplitPane ----------------*/



/* ------------------------------ Accordion ------------------*/




/* -------------------------- background ------------*/

.gradientbackground {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ffd700, #ffb300);
}

.gradientbackground .button {
    -fx-text-fill: #ffb300;
}


.background-primary {
    -fx-background-color: gold;
}


.background-primary > .button {
    -fx-text-fill: gold;
}


/* -------------------------- buttons ------------*/

.button {
    -fx-background-color: #ffb300;
}




/* ------------------------------ Listview -------------------------- */
.list-view .scroll-bar:horizontal .thumb, .list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #ffb300;
}

.list-view .scroll-bar .increment-arrow , .list-view .scroll-bar .decrement-arrow {
    -fx-background-color: black;
}

.list-view-transparent .scroll-bar:horizontal .thumb, .list-view-transparent .scroll-bar:vertical .thumb, .list-view-transparent .scroll-bar .increment-arrow , .list-view-transparent .scroll-bar .decrement-arrow {
    -fx-background-color: white;
}


/* ------------------------------ MenuBar -------------------------- */

.menu-bar {
    -fx-border-color: gold;
    -fx-background-color: gold;
}
